@font-face {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
	
body{
    margin: 0;
}

.home{
	background:#000;
	width:100%;
	margin: 0;

}

.home iframe{
	width: 100%;
	height: 75%;
	max-widht: 1200px;
	margin: -10px;
	margin: auto;

}
header{
    width: 100%;
    height: 15%;
    background: rgb(100,20,40); 
}

.logo img{
    height: auto;
	width: 69%;
    max-width: 400px;
    margin-left: 2%;
    margin-top: 1%;
}

.midia{
    height: 30%;
    width: 50px;
    float: right;
    margin-top: 18px;
    margin-right: 18px;

}

.midia img{
    width: 22px;
}

.menu {
	float:right;
	background:#C90;
}

.menuItem {
	background:#F36;
	display:inline;
	color: #fff;
		}
		

.conteudo {
	width: 100%;
	max-width: 1160px;
	min-height: 75%;
	position:relative;
    left: 50%;
	transform: translateX(-50%);
	margin: 10px;
}

.fotos {
	float:right;
	height:auto;
	width: 50%;
	
}
.fotos img {
	float:right;
	border-radius: 30px 0 40px 0;
	width: 90%;
	height: auto;
	margin: 10px;
}


.abas  {
	margin-top:10px;
	width: 100%;
	height:8%;
	text-align:center;
	margin-bottom: 3%;
	margin: 0;
}

.aba {
	width: 50%;
	height: 100%;
	background: rgb(250,190,190);
	float:left;
	margin: 0;
	color: #641428;
	font-size: 1.1em;
	border-top-left-radius: 10% 100%;
    border-top-right-radius: 10% 100%;	
}

.aba-selecionada{
background: rgb(250,220,220);
}

#aba2-conteudo {
	display:none;
}

.barra{
	margin: 0;
	width: 100%;
	height: 4%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(250,220,220)), to(#fff));
    background: -moz-linear-gradient(top, #EBCCCE, #EBCCCE);
}
h4 {
	color: #641428;
	font-size: 2.2em;
	margin: 10px 15px 0px 15px;
	margin-top: 20px;
	}

h3 {
	font-size:1.3em;
	color: #641428;
	margin: 5px 15px 0 15px;
}

h2 {
	color:#333;
	margin: 0 15px;
	font-size: 1.1em;
	text-align:justify;
	font-weight:normal;
	margin: 5px 15px 0 15px;
}

h1 {
	color: #641428;
	font-size: 1.6em;
	margin: 10px 15px 0px 15px;
	}

p {
	margin: 0
}


footer {
    width: 100%;
    height: 10%;
    background: rgb(100,20,40); 
    font-size: 1.0em;
    color: rgb(250,220,220);
    padding: 0;
    text-align: center;
    line-height: 30px;

}

#copyright{
    height: 25px;
    width: auto;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 0.7em;
    margin-top: 1px;
}